@page
<div class="container">
	<br /><br /><br /><br /><br /><!--ajouts de retour à la ligne par précaution car la barre de navication peut cacher l'horloge dans certain cas-->
	<button id="buttonGetHorloge" value="Get Horloge">Get Horloge</button>
	<div id="horloge" hidden><span id="hours"></span>:<span id="minutes"></span>:<span id="seconds"></span></div>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/script.js"></script>
@*<script src="~/js/es5-chat.js"></script>*@